
body {
    width: 1024px;
    margin: 0 auto;
}

header {
    background-image: url(../pictures/bridge.jpg);   
}

img {
    width: 200px;
    height: 174px;
    margin-left: 10px;
    border-radius: 50%;
}

header div {
    width: 814px;
    height: 174px;
    float: right;
}
header ul {
    text-align: center; 
}

h1 {
    position: relative;
    top: 35%;
    text-align: center;
    font-size: 42px;
    color: #fafafa;
}

h1 span {
    color: rgb(31, 206, 15);
}

h1 span:first-child {
    color: #fafafa;
    text-decoration: underline;
}

header li {
    display: inline-block;
    width: 10%;
    vertical-align: top;
    padding: 17px 2px;
    margin: 1px;
    border-radius: 10px;
    background-color: rgba(181, 214, 203, 0.6);
}

header li:hover {
    background-color: rgba(137, 170, 159, 1);
}

header li:nth-child(3),
header li:nth-child(7){
    padding: 9px 2px;
}

main {
    background-color: aliceblue;
    border-bottom: 15px double rgb(155, 155, 155);
}

main section {
    margin-bottom: 40px;
}

h2 {
    padding-top: 5px;
    padding-bottom:10px;
    padding-left: 15px;
    font-size: 30px;
    border-bottom:2px solid grey;
    
    
}

h3 {
    padding-top: 5px;
    padding-bottom:10px;
    padding-left: 15px;
    font-size: 24px;
}

.description-paragraphe {
    text-indent: 1.5em;
    text-align: justify;
}

h4 {
    padding-top: 5px;
    padding-bottom:10px;
    padding-left: 15px;
    font-size: 18px;
}

main li {
    list-style-type: disc;
    list-style-position: inside;
}

.character-li {
    height: 100px;
    margin-bottom: 5px;
    line-height: 6em;
    background-position: 25% 50%;
    background-repeat: no-repeat;
    
    
}

.character-li:nth-child(1){
    background-image: url(../pictures/purposeful.jpg);  
}

.character-li:nth-child(2){
    background-image: url(../pictures/responsible.jpg);
}

.character-li:nth-child(3){
    background-image: url(../pictures/honest.jpeg);
}

.character-li:nth-child(4){
    background-image: url(../pictures/motivated.jpg);
}

.character-li:nth-child(5){
    background-image: url(../pictures/active.jpg);
}

.character-li:nth-child(6){
    background-image: url(../pictures/positive.jpg);
}

.character-li:nth-child(7){
    background-image: url(../pictures/comunicative.jpg);
}

.character-li:nth-child(8){
    background-image: url(../pictures/creative.jpg);
}

.character-li:nth-child(9){
    background-image: url(../pictures/hardy.jpg);
}

footer {
    background-color: rgb(46, 48, 49);
    color: white;
}

footer h2 {
    padding-bottom:5px;
    border-bottom: none;
}

footer p {
    padding-bottom:10px;
    padding-left: 15px;  
}

footer span {
    color: rgb(71, 194, 194);
}

a {
    color:rgb(192, 83, 192);
}